h2 { 
    color: rgb(251, 251, 251);
    font-size: 40px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
h1 {
    color: whitesmoke;
    
}
.box {
    font-weight: bold;
    color: whitesmoke;
    font-size: 30px;
    
}

body {
    background-color: gray;
}

img{
    width: 500px;
    height: auto;
    margin: 0 auto;
    display: block;
 
}

.textheme{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    text-align: left;
    color: whitesmoke;
}
.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 90px;
}

.vidtitle{
    color: greenyellow;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    font-style: italic;
    text-align: center;
   
}

.tableauPlaceholder{
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    height: 500px;
    width: 650px;
}

nav{
    color: whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
}